# Dependencies
node_modules
.DS_Store

# Bun
.bun

# Misc
.env
.env.*
.vscode
dist
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.git
.gitignore
README.md
.dockerignore
docker-compose.yml
Dockerfile
