services:
  db:
    image: postgres:15
    container_name: ovrly-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ovrly
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  app:
    container_name: ovrly-app
    build:
      context: .
      args:
        - VITE_GOOGLE_FONTS_API_KEY=${VITE_GOOGLE_FONTS_API_KEY}

    # Alternatively, use the pre-built image:
    # Uncomment the line below and comment out the build section above.
    #
    # image: ghcr.io/l3-n0x/ovrly:latest

    ports:
      # Application port, use this to access the web interface
      # Can be forwarded or proxied as needed
      - "3000:3000"
    depends_on:
      - db
    # IMPORTANT: Update these environment variables as needed
    environment:
      # Base URL where the app will be accessible
      - APP_BASE_URL=http://localhost:3000

      # Database connection URL
      - DATABASE_URL=postgresql://${POSTGRES_USER:-user}:${POSTGRES_PASSWORD:-password}@db:5432/ovrly

      # A strong secret key for authentication
      - AUTH_SECRET=${OVRLY_AUTH_SECRET}

      # Twitch OAuth credentials
      - AUTH_TWITCH_ID=${OVRLY_TWITCH_CLIENT_ID}
      - AUTH_TWITCH_SECRET=${OVRLY_TWITCH_CLIENT_SECRET}

    volumes:
      # Persist uploaded files, e.g. images
      - ./uploads:/app/uploads
    restart: unless-stopped

volumes:
  pgdata:
