services:
  db:
    image: postgres:15
    container_name: ovrly-db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ovrly
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  app:
    build: .
    container_name: ovrly-app
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER:-user}:${POSTGRES_PASSWORD:-password}@db:5432/ovrly
      - APP_BASE_URL=http://localhost:3000
      - VITE_GOOGLE_FONTS_API_KEY=${VITE_GOOGLE_FONTS_API_KEY}
      - AUTH_SECRET=${OVRLY_AUTH_SECRET}
      - AUTH_TWITCH_ID=${OVRLY_TWITCH_CLIENT_ID}
      - AUTH_TWITCH_SECRET=${OVRLY_TWITCH_CLIENT_SECRET}
      - TWITCH_REDIRECT_URI=https://ovrly.ju5tnele.de/auth/twitch/callback
    volumes:
      - ./uploads:/app/uploads
    restart: unless-stopped

volumes:
  pgdata:
