@import "react-color-palette/css";
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9277 0.0188 325.7276);
  --foreground: oklch(0.3023 0.0303 328.6465);
  --card: oklch(0.9277 0.0188 325.7276);
  --card-foreground: oklch(0.215 0.0025 325.6623);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2364 0.0202 329.8907);
  --primary: oklch(0.5154 0.154 302.8076);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.8669 0.0244 325.7851);
  --secondary-foreground: oklch(0.3976 0.0169 325.8901);
  --muted: oklch(0.8745 0.0271 323.9241);
  --muted-foreground: oklch(0.5707 0.0077 325.6777);
  --accent: oklch(0.8669 0.0244 325.7851);
  --accent-foreground: oklch(0.2364 0.0202 329.8907);
  --destructive: oklch(0.215 0.0025 325.6623);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8363 0.0105 325.6707);
  --input: oklch(0.7108 0.0183 325.7677);
  --ring: oklch(0.5154 0.154 302.8076);
  --chart-1: oklch(0.4604 0.1375 305.5613);
  --chart-2: oklch(0.8352 0.1167 156.684);
  --chart-3: oklch(0.8122 0.0407 325.9442);
  --chart-4: oklch(0.8898 0.0377 163.9822);
  --chart-5: oklch(0.4593 0.1443 304.9551);
  --sidebar: oklch(0.9111 0.0162 328.7876);
  --sidebar-foreground: oklch(0.3392 0.0033 345.3937);
  --sidebar-primary: oklch(0.5154 0.154 302.8076);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.8669 0.0244 325.7851);
  --sidebar-accent-foreground: oklch(0.325 0 0);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1684 0 0);
  --foreground: oklch(0.9266 0.013 321.8971);
  --card: oklch(0.1928 0.0025 325.6747);
  --card-foreground: oklch(0.9329 0.0222 325.7536);
  --popover: oklch(0.1928 0.0025 325.6747);
  --popover-foreground: oklch(0.8732 0.0052 325.6213);
  --primary: oklch(0.572 0.1534 303.123);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.2478 0 0);
  --secondary-foreground: oklch(0.963 0.022 325.7468);
  --muted: oklch(0.1793 0.0026 325.684);
  --muted-foreground: oklch(0.6586 0.0231 328.2159);
  --accent: oklch(0.156 0.0027 325.7043);
  --accent-foreground: oklch(0.9111 0.0162 328.7876);
  --destructive: oklch(0.5951 0.1633 14.8212);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3074 0.0158 325.9532);
  --input: oklch(0.3292 0.0066 325.727);
  --ring: oklch(0.6694 0.0842 305.0046);
  --chart-1: oklch(0.4604 0.1375 305.5613);
  --chart-2: oklch(0.8352 0.1167 156.684);
  --chart-3: oklch(0.2138 0.0074 325.8329);
  --chart-4: oklch(0.3501 0.0341 155.7314);
  --chart-5: oklch(0.4593 0.1443 304.9551);
  --sidebar: oklch(0.2269 0.0019 286.2466);
  --sidebar-foreground: oklch(0.7561 0.0191 323.0136);
  --sidebar-primary: oklch(0.325 0 0);
  --sidebar-primary-foreground: oklch(0.9881 0 0);
  --sidebar-accent: oklch(0.215 0.0025 325.6623);
  --sidebar-accent-foreground: oklch(0.7561 0.0191 323.0136);
  --sidebar-border: oklch(0.9401 0 0);
  --sidebar-ring: oklch(0.7731 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

.w-color-sketch {
  --sketch-background: var(--input) !important;
  --sketch-border: 1px solid var(--border) !important;
  --sketch-box-shadow: rgb(0 0 0 / 10%) 0 1px 2px 0px !important;
  --sketch-swatch-border-top: var(--border) !important;
  color: var(--foreground) !important;
  border: var(--sketch-border) !important;
  box-shadow: var(--sketch-box-shadow) !important;
  border-radius: 0.375rem !important;

  .w-color-editable-input {
    --editable-input-label-color: var(--muted-foreground) !important;
    --editable-input-box-shadow: rgb(0 0 0 / 10%) 0 1px 2px 0px !important;
    --editable-input-color: var(--foreground) !important;
    input {
      border-radius: 0.375rem !important;
      border: var(--sketch-border) !important;
      font-size: 0.8rem !important;
      text-align: center !important;
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }
  to {
    opacity: 1;
    max-height: 2147483647px;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}
